body {
    color: pink;
    background-color: black;
  }
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
